
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;

    --primary: 250 95% 64%;
    --primary-foreground: 0 0% 100%;

    --secondary: 226 57% 21%;
    --secondary-foreground: 210 20% 98%;

    --muted: 223 47% 11%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 224 47% 11%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 242 48% 58%;

    --radius: 0.5rem;

    --sidebar-background: 223 47% 11%;
    --sidebar-foreground: 213 31% 91%;
    --sidebar-primary: 250 95% 64%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 47% 11%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 242 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.stock-up {
  @apply text-success-500;
}

.stock-down {
  @apply text-danger-500;
}

.price-chart-area {
  @apply overflow-hidden rounded-md border;
}
